@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
html,body{

	height: 100%;
}
header{
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
	height: 44px;
	background: #19c7b8;
}
header a{
	margin-left: 2%;
	display: block;
	float: left;
}
header a i.icon-3{
	font-size: 15px;
	color: #fff;
	line-height: 44px;
}
header p{
	float: left;
	width: 90%;
	text-align: center;
	line-height: 44px;
	font-size: 20px;
	color: #fff;
}
article{
	z-index: -1;
	margin: 54px auto 0 auto;
	width: 100%;
}
article section{
	clear:both;
	margin: 0 auto;
	width: 92%;
	height: 25%;
	position: relative;
}
article section img{
	margin-bottom: 12px;
	float: left;
	width: 75px;
	height: 70px;
}
article section p{
	margin: 10px 0 0 12px;
	float: left;
	font-size: 12px;
	line-height: 25px;
	color: #989898;
}
article section button{
	cursor:pointer;	
	position: absolute;
	right: 0;
	margin-top: 20px;
	width: 79px;
	height: 39px;
	background: none;
	font-size: 9px;
	color: #989898;
}
article button i.iconfont{	
	display: block;
	text-align: center;
	font-size: 20px;
}
article button i img{	
	display: block;
	width: 26px;
	height: 26px;
}
article section p.texts{
	margin-top: -8px;
	width: 52px;
	text-align: center;
	font-size: 12px;
	color: #333;
}
.xian{
	clear:both;
	margin: 0 0 9px 15%;
	width: 84.5%;
	border:1px solid #f0f0f0;
}

