@charset "utf-8";
*{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.headuser{
	width: 100%;
	padding-top: 7px;
	min-height: 208px;
	background: url(../images/User-response_01.png)no-repeat;
	background-position: center center;
	background-size: 100%;
}
.userhead{
	width: 105px;
	height: 105px;
	margin:0 auto;
	border-radius: 50%;
	background:url(../images/personal-center_03.png)no-repeat;
	background-position: center center;
	background-size: 100%;
	
}
.userhead a{
	display: block;
}
.headusp{
	width: 100%;
	line-height: 35px;
	font-size: 25px;
	text-align: center;
	color: #fff;
	font-weight: 100;
	font-size: 20px;
}
.headuspa{
	width: 100%;
	height: 51px;
	margin-top: 17px;
}
.headuspa a{
	display: block;
	float: right;
	width: 50%;
	text-align: center;
	font-size: 16px;
	color: #fff;
}
.headuspa a.attentioniconus{
	border-left: 1px solid #dfdfdf;
}
.cttt{
	width: 100%;
}
.ctttusli{
	width: 100%;
	height: 51px;
	border-bottom: 1px solid #f0f0f0;
}
.ctttlia{
	width: 100%;
	height: 100%;
	padding: 0 6.5% 0 6.5%;
	line-height: 51px;
	font-size: 16px;
}
.icon-youjiantou{
	float: right;
}
.iconfontus{
	float: left;
	font-weight: 600;
	margin-right:9px ;
}
.foot{
	width: 100%;
	height: 49px;
	position: fixed;
	bottom: 0;
	border-top: 2px solid #c5c0c0;
	background: #FFf;
}
.footul{
	width: 100%;
	height: 49px;
}
.footul li{
	float: left;
	width: 33.3%;
	height: 42.5px;
	padding-top: 7px;
}
.footul li a{
	display: block;
	height: 30px;
	border-right: 1px solid #e1e1e1;
	color: #929292;
	text-align:center;
	line-height: 16px;
	
}
.footul li a i{
	font-size: 22.5px;
	line-height: 22px;
}
.footul .footulliuser{
	border-right: 0 none;
}
.footul .footukliwork li a i{
	
}
.footul .footulliuser a,
.footul .ffootulliuser a i{
	color: #3ad1c5;
}
